<div style="width: 100%;">
  <div class="titre">
    <h4>TYPE: <span style="text-transform: uppercase;">{{mpActuel.typeLibelle}}</span></h4>
    <h5>AGENCE: <span style="text-transform: uppercase;">{{mpActuel.lieuAgence}}</span></h5>
  </div>
  <div *ngIf="mpActuel.mp != null" class="row">
    <!-- SI VIREMENT -->
    <div *ngIf="mpActuel.typeAbrev == 'VIR'" class="col-12">
      <div class="row">
        <div class="col-4 form-group">
          <label class="control-label texte-content">Abréviation Banque</label>
          <label class="form-control">{{mpActuel.mp.abbrevBanque}}</label>
        </div>
        <div class="col-4 form-group">
          <label class="control-label texte-content">Banque</label>
          <label class="form-control">{{mpActuel.mp.libelleBanque}}</label>
        </div>
        <div class="col-4 form-group">
          <label class="control-label texte-content">Compte</label>
          <label class="form-control">{{mpActuel.mp.compte}}</label>
        </div>
        <div class="col-4 form-group">
          <label class="control-label texte-content">Agence</label>
          <label class="form-control">{{mpActuel.mp.libelleAgence}}</label>
        </div>
        <div class="col-4 form-group">
          <label class="control-label texte-content">Code Agence</label>
          <label class="form-control">{{mpActuel.mp.codeAgence}}</label>
        </div>
        <div class="col-4 form-group">
          <label class="control-label texte-content">Clé</label>
          <label class="form-control">{{mpActuel.mp.cle}}</label>
        </div>
        <div class="col-6 form-group">
          <label class="control-label texte-content">Code swift</label>
          <label class="form-control">{{mpActuel.mp.codeSwift}}</label>
        </div>
        <div class="col-6 form-group">
          <label class="control-label texte-content">Domiciliation</label>
          <label class="form-control">{{mpActuel.mp.domiciliation}}</label>
        </div>
      </div>
    </div>
    <!-- SI CAISSE -->
    <div *ngIf="mpActuel.typeAbrev == 'ESP'" class="col-12 form-group">
      <label class="control-label texte-content">Caisse</label>
      <label class="form-control">{{mpActuel.mp.caisse}}</label>
    </div>
    <!-- SI MOBILE BANKING -->
    <div *ngIf="mpActuel.typeAbrev == 'MB'" class="col-12 form-group">
      <label class="control-label texte-content">Numéro</label>
      <label class="form-control">{{mpActuel.mp.numero}}</label>
    </div>
    <!-- s'affiche toujours -->
    <div class="col-6 form-group">
      <label class="control-label texte-content">Date début</label>
      <label class="form-control">{{mpActuel.mp.dateDebut | date:'dd/MM/yyyy'}}</label>
    </div>
    <div class="col-6 form-group">
      <label class="control-label texte-content">Date fin</label>
      <label class="form-control">{{mpActuel.mp.dateFin | date:'dd/MM/yyyy'}}</label>
    </div>
  </div>

  <div class="div-bas">
    <button (click)="prendListeMP()" data-toggle="modal" data-target="#choix-mp-dmd-module"
      class="btn btn-success">Choisir un autre</button>
  </div>

  <!-- MODAL CHOIX MODE DE PAIEMENT -->
  <div id="choix-mp-dmd-module" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="max-width: 90%;min-width: 800px;">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">Modification du mode de paiement</h6>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>Banque</th>
                <th>Agence</th>
                <th>Code Agence</th>
                <th>Compte</th>
                <th>Agence OTIV</th>
                <th>Code Agence OTIV</th>
                <th>Domiciliation</th>
                <th>Caisse</th>
                <th>Numéro</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let mp of listeMP; let index = index">
                <td>
                  <input [(ngModel)]="mp.estCoche" (change)="checkChange(index)" type="checkbox" name="input{{index}}">
                </td>
                <td>{{mp.mp.abbrevBanque}}</td>
                <td>{{mp.mp.libelleAgence}}</td>
                <td>{{mp.mp.codeAgence}}</td>
                <td>{{mp.mp.compte}}</td>
                <td>{{mp.mp.agenceotiv}}</td>
                <td>{{mp.mp.codeagenceotiv}}</td>
                <td>{{mp.mp.domiciliation}}</td>
                <td>{{mp.mp.caisse}}</td>
                <td>{{mp.mp.numero}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button (click)="validerChoixMp()" class="btn btn-info" data-dismiss="modal">Valider</button>
        </div>
      </div>
    </div>
  </div>
</div>