<div *ngIf="ListeEmployeur && ListeEmployeur.length > 0" class="row">
  <div class="col-12 form-group">
    <div class="row">
      <div class="col-1" style="text-align: right;">
        <h4 *ngIf="indice > 0" style="cursor: pointer;"><span (click)="change(-1)"><button type="button"
              class="btn btn-primary"><i class="fas fa-arrow-left"></i> Précédent </button> </span></h4>
      </div>
      <div class="col-10" style="text-align: center;">
        <h4>{{ListeEmployeur[indice].sig.id_empl.employeur_nom}} <span
            *ngIf="ListeEmployeur[indice].sig.id_empl.id_empl == idEmplChoisi">(Actuel)</span></h4>
      </div>
      <div class="col-1">
        <h4 *ngIf="indice < (ListeEmployeur.length-1)" style="cursor: pointer;"><span (click)="change(1)">
            <button type="button" class="btn btn-success">Suivant <i class="fas fa-arrow-right"></i></button>
          </span></h4>
      </div>
    </div>
  </div>
  <div class="col-6 form-group">
    <label class="control-label texte-content">Matricule (Nouveau)</label>
    <label class="form-control">{{ListeEmployeur[indice].sig.id_empl.id_empl}}</label>
  </div>
  <div class="col-6 form-group">
    <label class="control-label texte-content">Matricule (Ancien)</label>
    <label class="form-control">{{ListeEmployeur[indice].sig.id_empl.employeur_matricule}}</label>
  </div>
  <div class="col-12 form-group">
    <label class="control-label texte-content">Sigle code</label>
    <label class="form-control">{{ListeEmployeur[indice].sig.id_empl.sigle_code}}</label>
  </div>
  <div class="col-12 form-group">
    <label class="control-label texte-content">Activité</label>
    <label class="form-control">{{ListeEmployeur[indice].sig.id_empl.id_activite.libelle}}</label>
  </div>
  <div class="col-12 form-group">
    <label class="control-label texte-content">Régime</label>
    <label class="form-control">{{ListeEmployeur[indice].sig.id_empl.id_activite.regime}}</label>
  </div>
  <div class="col-4 form-group">
    <label class="control-label texte-content">Type de contrat</label>
    <label class="form-control">{{ListeEmployeur[indice].sig.type_contrat}}</label>
  </div>
  <div class="col-4 form-group">
    <label class="control-label texte-content">Date d'embauche</label>
    <label class="form-control">{{ListeEmployeur[indice].sig.date_debut_contrat | date:'dd/MM/yyyy'}}</label>
  </div>
  <div class="col-4 form-group">
    <label class="control-label texte-content">Date débauche</label>
    <label class="form-control">{{ListeEmployeur[indice].sig.date_fin_contrat | date:'dd/MM/yyyy'}}</label>
  </div>
  <div class="col-12">
    <div *ngIf="!afficheCIE" style="width: 100%; text-align: right;">
      <button (click)="voirCIE()" class="btn btn-success">Voir CIE</button>
    </div>
    <app-situation-compte-empl *ngIf="afficheCIE" [matriculeEmpl]="ListeEmployeur[indice].sig.id_empl.id_empl">
    </app-situation-compte-empl>
  </div>
</div>