<br> <br>
<div class="container-fluid">
  <div class="col-sm-12 content_page">
    <div class="row titre_pf">
      <h4>Génération OP IJ2</h4>
    </div>
    <div class="row">
      <div class="col-12">
        <a [routerLink]="['/listeij2']" class="btn btn-info" style="float: right; color: white;">Retour à la
          liste</a>
      </div>
    </div>
    <br>

    <!-- <app-op-aperiodique [prestation]="422" [codeService]="3030" [idRubrique]="60451100" [lienRetour]="lienRetour"></app-op-aperiodique> -->

        

  </div>
</div>

<!-- MODAL -->
<!-- MODAL CHARGEMENT -->
<div #modalChargement class="modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="loader">
    </div>
  </div>
</div>

