<div class="app-info-individu-conteneur" style="display: none;">
  <div class="container-fluid">
    <div class="col-sm-12">
      <div class="row content-info">
        <div *ngIf="dataUser" class="col-sm-12 col1">
          <div class="row titre-info">
            <h1>&nbsp;{{dataUser.nom}} {{dataUser.prenoms}}
              <br>
              <small>( {{libelleStatu}} )</small>
            </h1>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="row">
                <div class="col-sm-4 texte_info">Matricule:</div>
                <div class="col-sm-6">{{dataUser.id_individu}}</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="row">
                <div class="col-sm-4 texte_info">Sexe:</div>
                <div *ngIf="dataUser && dataUser.id_sexe != null" class="col-sm-8">{{dataUser.id_sexe.libelle}}
                  ({{dataUser.id_sexe.id_sexe}})</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="row">
                <div class="col-sm-6 texte_info">Date de naissance:</div>
                <div class="col-sm-6">{{dataUser.date_naissance | date:'dd/MM/yyyy'}}</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="row">
                <div class="col-sm-6 texte_info">Lieu de naissance:</div>
                <div class="col-sm-6">{{dataUser.lieu_naissance}}</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="row">
                <div class="col-sm-4 texte_info">CIN:</div>
                <div class="col-sm-8">{{dataUser.cin}}</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="row">
                <div class="col-sm-4 texte_info">Date CIN:</div>
                <div class="col-sm-8">{{dataUser.date_cin | date:'dd/MM/yyyy'}}</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="row">
                <div class="col-sm-6 texte_info">Firaisana:</div>
                <div class="col-sm-6">{{dataUser.firaisanaLibelle}}</div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="row">
                <div class="col-sm-6 texte_info">Nationalité:</div>
                <div class="col-sm-6">
                  <ng-container *ngIf="dataUser.id_nationalite">{{dataUser.id_nationalite.libelle}}</ng-container>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="row titre-info1">
                <div class="col-sm-6">
                <a href="#collapseExample6" data-toggle="collapse" aria-expanded="false" (click)="modepaiement()"
                  aria-controls="collapseExample6" class="info3">
                  Mode de paiement
                  <strong>&nbsp;&raquo;</strong>
                </a>
              </div>
                <!-- <a [routerLink]="['/ajouter-compte-bancaire/', dataUser.id_individu]" class="info2"> -->
                  <div class="col-sm-3"></div>
                  <div class="col-sm-3">
                <a *ngIf="!detailSeulement" [routerLink]="['/ajouter-compte-bancaire/', dataUser.id_individu]" class="info2" data-toggle="modal"
                  data-target="#ajouterbanque">
                  <span class="fa fa-edit icon-info"></span>Ajouter</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="row titre-info1">
                <a href="#collapseExample4" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample4"
                  class="info1">
                  Les membres de la famille
                  <strong>&nbsp;&raquo;</strong>
                </a>
              </div>
              <div class="collapse" id="collapseExample4">
                <div class="row">
                  <ng-container *ngIf="dataConjoint">
                    <div class="col-sm-12 texte_info text-center">Conjoint</div>
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-4 texte_info">Matricule : </div>
                        <div *ngIf="dataConjoint" class="col-sm-8">{{dataConjoint.matricule}}</div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-4 texte_info">Nom : </div>
                        <div *ngIf="dataConjoint" class="col-sm-8">{{dataConjoint.nom}}</div>
                      </div>
                    </div>

                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-4 texte_info">Prénom :</div>
                        <div *ngIf="dataConjoint" class="col-sm-8">{{dataConjoint.prenom}}</div>
                      </div>
                    </div>
                    <div class="col-sm-12" *ngIf="dataConjoint.sexe">
                      <div class="row">
                        <div class="col-sm-4 texte_info">Sexe :</div>
                        <div *ngIf="dataConjoint" class="col-sm-8">{{dataConjoint.sexe}}</div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-4 texte_info">CIN :</div>
                        <div *ngIf="dataConjoint" class="col-sm-8">{{dataConjoint.numCin}}</div>
                      </div>
                    </div>

                    <ng-container *ngIf="infoConjoint && detailAgent">
                      <div class="col-sm-12">
                        <div class="row">
                          <div class="col-sm-4 texte_info">Téléphone :</div>
                          <div *ngIf="dataConjoint" class="col-sm-8">{{infoConjoint.telephoneConjoint}}</div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="row">
                          <div class="col-sm-4 texte_info">Profession :</div>
                          <div *ngIf="dataConjoint" class="col-sm-8">{{infoConjoint.profession}}</div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="row">
                          <div class="col-sm-4 texte_info">Employeur :</div>
                          <div *ngIf="dataConjoint" class="col-sm-8">{{infoConjoint.nomEmployeur}}</div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="row">
                          <div class="col-sm-4 texte_info">Adresse Employeur :</div>
                          <div *ngIf="dataConjoint" class="col-sm-8">{{infoConjoint.adresseEmployeur}}</div>
                        </div>
                      </div>
                    </ng-container>

                  </ng-container>
                  <div *ngFor="let enfant of dataEnfant; index as i" class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-12 texte_info text-center">Enfant {{i+1}}</div>
                      <div class="col-sm-12">
                        <div class="row">
                          <div class="col-sm-4 texte_info">Matricule :</div>
                          <div *ngIf="enfant" class="col-sm-8">{{enfant.matricule}}</div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="row">
                          <div class="col-sm-4 texte_info">Nom :</div>
                          <div *ngIf="enfant" class="col-sm-8">{{enfant.nom}}</div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="row">
                          <div class="col-sm-4 texte_info">Prénom :</div>
                          <div *ngIf="enfant" class="col-sm-8">{{enfant.prenom}}</div>
                        </div>
                      </div>
                      <div class="col-sm-12" *ngIf="enfant">
                        <div class="row">
                          <div class="col-sm-4 texte_info">Sexe :</div>
                          <div *ngIf="enfant.sexe" class="col-sm-8">{{enfant.sexe}}</div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="row">
                          <div class="col-sm-4 texte_info">Date de naissance :</div>
                          <div *ngIf="enfant" class="col-sm-8">{{enfant.datenaissance | date:'dd-MM-yyyy'}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="row titre-info1">
                <a href="#collapseExample5" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample5"
                  class="info3" (click)="setAdress()">
                  Adresse
                  <strong>&nbsp;&raquo;</strong>
                </a>
                <a *ngIf="!detailSeulement" data-toggle="modal" data-target="#modifAdresse" class="info2">
                  <span class="fa fa-edit icon-info"></span>Modifier</a>
                <a data-toggle="modal" data-target="#consultAdress" class="info4" (click)="getinfoadress()">
                  <span class="fa fa-eye"></span>Voir les adresses</a>
              </div>
              <div class="collapse" id="collapseExample5">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-4 texte_info">Type d'adresse : </div>
                      <div *ngIf="dataAdresse" class="col-sm-8"><strong>{{dataAdresse.id_type.libelle}}</strong></div>
                    </div>
                  </div>
                  <div class="col-sm-12" *ngIf="!detailAgent">
                    <div class="row">
                      <div class="col-sm-4 texte_info">Num de rue : </div>
                      <div *ngIf="dataAdresse" class="col-sm-8">{{dataAdresse.numero}}</div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-4 texte_info">Libellé : </div>
                      <div *ngIf="dataAdresse" class="col-sm-8">{{dataAdresse.libelle}}</div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-4 texte_info">Quartier : </div>
                      <div *ngIf="dataAdresse" class="col-sm-8">{{dataAdresse.adresse_quartier}}</div>
                    </div>
                  </div>
                  <div class="col-sm-12" *ngIf="dataAdresse">
                    <div class="row">
                      <div class="col-sm-4 texte_info">Fokontany : </div>
                      <div *ngIf="dataAdresse.fokontany" class="col-sm-8">{{dataAdresse.fokontany.libelle}}</div>
                    </div>
                  </div>
                  <div class="col-sm-12" *ngIf="dataAdresse">
                    <div class="row">
                      <div class="col-sm-4 texte_info">Firaisana : </div>
                      <div *ngIf="dataAdresse.fokontany" class="col-sm-8">{{dataAdresse.fokontany.firaisana.libelle}}</div>
                    </div>
                  </div>
                  <div class="col-sm-12" *ngIf="dataAdresse">
                    <div class="row">
                      <div class="col-sm-4 texte_info">Fivondronana : </div>
                      <div *ngIf="dataAdresse.fokontany" class="col-sm-8">{{dataAdresse.fokontany.firaisana.fivondronana.libelle}}
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12" *ngIf="dataAdresse">
                    <div class="row">
                      <div class="col-sm-4 texte_info">Région : </div>
                      <div *ngIf="dataAdresse.fokontany" class="col-sm-8">
                        {{dataAdresse.fokontany.firaisana.fivondronana.region.libelle}}</div>
                    </div>
                  </div>
                  <div class="col-sm-12" *ngIf="dataAdresse">
                    <div class="row">
                      <div class="col-sm-4 texte_info">Faritany : </div>
                      <div *ngIf="dataAdresse.fokontany" class="col-sm-8">
                        {{dataAdresse.fokontany.firaisana.fivondronana.region.faritany.libelle}}</div>
                    </div>
                  </div>
                  <div class="col-sm-12" *ngIf="dataAdresse">
                    <div class="row">
                      <div class="col-sm-4 texte_info">Pays : </div>
                      <div *ngIf="dataAdresse.fokontany" class="col-sm-8">
                        {{dataAdresse.fokontany.firaisana.fivondronana.region.faritany.pays.libelle}}</div>
                    </div>
                  </div>
                  <div class="col-sm-12" *ngIf="dataAdresse">
                    <div class="row">
                      <div class="col-sm-4 texte_info">Téléphone : </div>
                      <div *ngIf="dataAdresse.adresse_telephone" class="col-sm-8">{{dataAdresse.adresse_telephone}}</div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-4 texte_info">Téléphone 2: </div>
                      <div *ngIf="dataAdresse" class="col-sm-8">{{dataAdresse.adresse_fax}}</div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-4 texte_info">Complément : </div>
                      <div *ngIf="dataAdresse" class="col-sm-8">{{dataAdresse.complement}}</div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-4 texte_info">Adresse mail : </div>
                      <div *ngIf="dataAdresse" class="col-sm-8">{{dataAdresse.adresse_e_mail}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="collapse" id="collapseExample6">
          <div class="form-control" id="titre_content" class="text-center">
            <h5>Mode de paiement</h5>
          </div>
          <div class="col-sm-12" style="padding-bottom: 2%">
            <div *ngIf="!show">
              <table class="table-bordered" style="width: 100%">
                <tbody *ngIf="!detailAgent">
                  <tr *ngFor="let mop of afficheMP; let index = index">
                    <td class="text-center"><input [(ngModel)]="afficheMP[index].estChoisi" (ngModelChange)="quandMPchange(index)"
                        name="afficheMP{{index}}" type="checkbox"></td>
                    <td><i class="texte-content">Type : </i>{{mpbyid(mop.idModePaiement)}}</td>
                    <td><i class="texte-content">Agence : </i>{{ mop.libelleAgence}}</td>
                    <td title="Supprimer mode de paiement" class="text-center"><span (click)="deleteMP(mop.idModePaiementTiers)"><i [ngClass]="'supprimermp'" class="fa fa-trash-alt"></i></span></td>
                    <!-- <td class="text-center"> <span (click)="update(mop.idModePaiementTiers)"><i [ngClass]="'modifmp'" class="fa fa-edit" data-toggle="modal" data-target="#updateMpEmpl"></i> </span></td> -->
                    <td title="Voir ou modifier mode de paiement" class="text-center"><span (click)="detailmodepaiement(mop)"><i [ngClass]="'voirdetailmp'" class="fa fa-eye"
                          data-toggle="modal" data-target="#detailmp"></i></span></td>
                  </tr>
                </tbody>
                <tbody *ngIf="detailAgent">
                  <tr *ngFor="let mop of afficheMP; let index = index">
                    <td class="text-center"><input [(ngModel)]="afficheMP[index].estChoisi" (ngModelChange)="quandMPchange(index)"
                        name="afficheMP{{index}}" type="checkbox"></td>
                    <td><i class="texte-content">Type : </i>{{mop.id_mode_paiement.libelle}}</td>
                    <td><i class="texte-content">Agence : </i>{{ mop.id_agence.nom_agence}}</td>
                    <td class="text-center"><span (click)="deleteMP(mop.idModePaiementTiers)"><i [ngClass]="'supprimermp'" class="fa fa-trash-alt" ></i></span> </td>
                    <!-- <td class="text-center">
                      <span (click)="update(mop.idModePaiementTiers)"><i [ngClass]="'modifmp'" class="fa fa-edit" data-toggle="modal" data-target="#updateMpEmpl"></i> </span>
                    </td> -->
                    <td class="text-center"><span (click)="detailmodepaiement(mop)"><i [ngClass]="'voirdetailmp'" class="fa fa-eye"></i></span></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="show">
              <div class="loader"></div>
            </div>
          </div>
        </div>
      </div>

      <div #detailMp class="modal fade" id="detailMp" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog" style="max-width: 1000px!important;" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 id="titre_change_stat" style="text-transform: uppercase;">Detail mode de paiement</h4><br>
            </div>
            <div class="modal-body"><br>
              <p class="text-center"><i style="font-size: 20px;"><u>Type de paiement : </u></i>
                &nbsp;&nbsp;<b>{{mpbyid(mp)}}</b></p>
              <p></p>
              <p><u>Nom banque :</u> &nbsp;&nbsp;<b>{{nombanque}}</b></p>
              <p><u>Nom agence :</u> &nbsp;&nbsp;<b>{{libelleAgence}}</b></p>
              <p *ngIf="showModif && showVir"><u>Compte :</u> &nbsp;&nbsp;<b>{{compte}}</b></p>
              <p *ngIf="!showModif && showVir"><u>Compte :</u> &nbsp;&nbsp;
              <input type="text" class="form-control" value="{{compte}}" [(ngModel)]="compteUpd">
              </p>

              <p *ngIf="showModif && showMobile"><u>Numero :</u> &nbsp;&nbsp;<b>{{numero}}</b></p>
              <p *ngIf="!showModif && showMobile"><u>Numero :</u> &nbsp;&nbsp;
              <input type="text" class="form-control" value="{{numero}}" [(ngModel)]="numeroUpd">
              </p>

              <p><u>Matricule beneficiaire :</u> &nbsp;&nbsp;<b>{{numtiers}}</b></p>
              <p><u>Code agence :</u> &nbsp;&nbsp;<b>{{codeagence}}</b></p>
              <p *ngIf="showModif"><u>Date :</u> &nbsp;&nbsp;<b>{{dateDebut}}</b></p>
              <p *ngIf="!showModif"><u>Date :</u> &nbsp;&nbsp;
                <input type="date" class="form-control" value="{{dateDebut | date: 'dd/MM/yyyy'}}" [(ngModel)]="dateDebutUpd">
              </p>
              <p><u>Agence :</u> &nbsp;&nbsp;<b>{{agence}}</b></p>
              <div *ngFor="let pieces of pieceMP">
                <i class="fa fa-download" style="color:black"></i> <a [href]="sanitize(pieces?.file)" style="cursor: pointer;color: rgb(3,158,194)"
                  download='{{pieces?.name}}'>{{pieces.name}}</a>
              </div>
            </div>

            <div class="modal-footer">
              <button *ngIf="showModif" type="button" class="btn btn-primary" (click)="upd()">Modifier info banque</button>
              <button *ngIf="!showModif" type="button" class="btn btn-success" (click)="miseAjour()">Enregistrer</button>
              <button type="button" class="btn btn-danger" (click)="close()">Fermer</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


  <!-- modal  MODIF ADRESS-->
  <div class="modal fade" id="modifAdresse" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 90%; min-width: 60%;">
      <div class="modal-content">
        <div *ngIf="dataUser" class="modal-body">
          <div class="col-sm-12">
            <!-- <app-modif-adresse-module [matricule]="dataUser.id_individu" (aUneAdresse)="adresseMisAJour($event)"></app-modif-adresse-module> -->
            <app-ajout-adresse [matricule]="dataUser.id_individu" (aUneAdresse)="adresseMisAJour($event)"></app-ajout-adresse>
            <!-- <app-ajout-adresse></app-ajout-adresse> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- modal  CONSULT ADRESS-->
  <div class="modal fade" id="consultAdress" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 90%; min-width: 60%;">
      <div class="modal-content">
        <div *ngIf="dataUser" class="modal-body">
          <br>
          <div class="col-sm-12 texte-content" style="text-transform: uppercase;text-align: center;font-weight: bold;">
            <h3>Liste adresse</h3>
          </div><br>
          <div class="col-sm-12">
            <!-- <app-ajout-adresse [matricule]="dataUser.id_individu" (aUneAdresse)="adresseMisAJour($event)"></app-ajout-adresse> -->
            <table class="table-bordered" style="width: 100%">
                <thead>
                  <tr class="texte-content">
                    <td>Type adresse</td>
                    <td>Telephone</td>
                    <td>Adresse mail</td>
                    <td>Fokotany</td>
                    <td>Date</td>
                  </tr>
                </thead>
                <tbody *ngIf="listAutreAdress">
                  <tr *ngFor="let adress of listAutreAdress.liste">
                    <td>{{adress.id_type.libelle}}</td>
                    <td>{{adress.adresse_telephone}}</td>
                    <td>{{adress.adresse_e_mail}}</td>
                    <td>{{adress.fokontany.libelle}}</td>
                    <td>{{adress.adresse_date}}</td>
                    <td class="text-center"> <span (click)="updateAdress(adress)"><i [ngClass]="'modifmp'" class="fa fa-edit" data-toggle="modal" data-target="#updateAdressSingle"></i> </span></td>
                  </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation example" *ngIf="listAutreAdress">
              <ngb-pagination class="d-flex justify-content-center" [pageSize]="max" [collectionSize]="max * listAutreAdress.nbPages"
                [(page)]="pager" aria-label="asdf" [boundaryLinks]="true" [rotate]="true" [maxSize]="10"
                (pageChange)="changeValue($event)"></ngb-pagination>
            </nav>
          </div>
          <div class="row">
            <div class="col-sm-9"></div>
            <div class="col-sm-2">
              <button type="submit" class="btn btn-secondary btn-block" data-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- sous modal  MODIF ADRESS-->
  <div class="modal fade" id="updateAdressSingle" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 50%;">
      <div class="modal-content">
        <div *ngIf="dataUser" class="modal-body">
          <br>
          <div class="col-sm-12 texte-content" style="text-transform: uppercase;text-align: center;font-weight: bold;">
            <h3>Modification adresse</h3>
          </div><br>
            <!-- <app-modif-adresse-module [matricule]="dataUser.id_individu" (aUneAdresse)="adresseMisAJour($event)"></app-modif-adresse-module> -->
            <!-- <app-ajout-adresse [matricule]="dataUser.id_individu" (aUneAdresse)="adresseMisAJour($event)"></app-ajout-adresse> -->
            <!-- <app-ajout-adresse></app-ajout-adresse> -->
            <div class="col-sm-12">
              <label class="form-control texte-content large">Type adresse</label>
              <ng-container>
                <select class="form-control large" [(ngModel)]="retour.id_type.id_type" name="type_adresse">
                  <option *ngFor="let type of dataType" value="{{type.id_type}}">{{type.libelle}}</option>
                </select>
              </ng-container>
            </div>
            <br>
            <div class="col-sm-12">
              <label class="form-control texte-content large">Numéro Téléphone</label>
              <input type="text" name="numero" [(ngModel)]="retour.adresse_telephone" class="form-control large" id="numph">
            </div>
            <br>
            <div class="col-sm-12">
              <label class="form-control texte-content large">Adresse mail</label>
              <input type="text" name="mail" [(ngModel)]="retour.adresse_e_mail" class="form-control large" id="mail">
            </div>
            <br>
            <div class="col-sm-12">
              <label class="form-control texte-content large">Date adresse</label>
              <input type="date" name="date" [(ngModel)]="retour.adresse_date" class="form-control large" id="date">
            </div>
            <br>
            <div class="col-sm-12">
              <label class="form-control texte-content large">Quartier</label>
              <input type="quartier" name="quartier" [(ngModel)]="retour.adresse_quartier" class="form-control large" id="quartier">
            </div>
            <br>
            <div class="col-sm-12">
              <label class="form-control texte-content large">Type de lieu</label>
              <select class="form-control large" id="typeLieu" [(ngModel)]="retour.type" name="lieu_dit">
                <option value="ROUTE">ROUTE</option>
                <option value="AVENUE">AVENUE</option>
                <option value="BOULEVARD">BOULEVARD</option>
                <option value="RUE">RUE</option>
                <option value="LOGT">LOGT</option>
                <option value="LOT">LOT</option>
                <option value="APPT">APPT</option>
                <option value="BP">BP</option>
                <option value="LOCALITE">LOCALITE</option>
              </select>
            </div>
            <br>
            <div class="col-sm-12">
              <label class="form-control texte-content large">fokotany</label>
              <ngx-select id="fokontany" [items]="itemsFokotany" [(ngModel)]="retour.fokontany.id_fokontany" name="fokontany"
                (typed)="inputTyped('ngx-select', $event)" class="form-control">
              </ngx-select>
            </div>
            <br>
            <div class="col-sm-12 form-group">
              <div class="col-sm-6"></div>
              <div class="col-sm-4" *ngIf="!showload">
                <button type="submit" class="btn btn-block btn-info" (click)="modifierAdress()">Enregistrer</button>
              </div>
              <div class="col-sm-4" *ngIf="showload">
                <div class="loader"></div>
              </div>
              <div class="col-sm-2">
                <button type="submit" class="btn btn-secondary btn-block" data-dismiss="modal">Fermer</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="ajouterbanque" tabindex="-1" role="dialog" style="display: none;">
  <div class="modal-dialog modal-lg" role="document" style="max-width: 80%; min-width: 60%;">
    <div class="modal-content">
      <div *ngIf="dataUser" class="modal-body">
        <app-ajouter-banque [tiers]="dataUser.id_individu" (modeDePaiementAjoute)="modeDePaiementAjoute($event)">
        </app-ajouter-banque>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateMpEmpl" tabindex="-1" role="dialog" style="display: none;">
  <div class="modal-dialog" style="max-width: 1000px!important;" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header text-center">
        <h4 style="text-transform: uppercase;">Banque</h4><br>
      </div> -->
      <div class="modal-body"><br>
        <app-modif-banque *ngIf="idMp" [id_banque]="idMp"></app-modif-banque>
      </div>
    </div>
  </div>
</div>







